<div class="content-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-registration">

        <img class="col offset-sm-4" style="opacity: 0.9; width: 170px; margin-bottom: 30px; margin-top: 10px;" src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png">

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="text-left">
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" }%>
            <%= f.input :name,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "name" }%>
            <%= f.input :password,
                        required: true,
                        hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" } %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" } %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up", class: "btn btn-danger rounder"%>
          </div>
        <% end %>

        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
