<div class="content-container">
  <div class="course-info">
    <div class="course-level">
      <%= @course.language.name.upcase %><span>, </span><%= @course.level.upcase %>
       </div>
         <%= link_to course_path(@course) do %>
         <div class="course-title"><%= @course.title %>
         </div>
         <% end %>
        <div>
          <span>Price: </span><p><%= @course.price.to_i %>€ per student</p>
    </div>
    <div>
    <span>Dates: </span><p><%= @course.start_date&.strftime("%-d %B") %> - <%= @course.end_date&.strftime("%-d %B") %></p>
    </div>
    <% @course.course_days.each do |day| %>
    <div>
      <span>Days: </span><p><%= day.working_day %></p>
    </div>
    <% end %>
  </div>

  <!-- payment -->
    <%= form_tag new_course_booking_path([@course, @booking, @payment]) do %>
     <script src="https://checkout.stripe.com/checkout.js" class="stripe-button" method="post"
        data-name="<%= @course.title%>"
        data-email="<%= current_user.email %>"
        data-description="<%= @course.language.name %> - <%= @course.level%>"
        data-amount="<%#= @booking.amount %>"
        data-currency="<%#= @booking.amount.currency %>"></script>
    <% end %>
</div>





