<div class="content-container">
  <div class="course-info">
    <div class="course-level">
      <%= @course.language.name.upcase %><span>, </span><%= @course.level.upcase %>
       </div>
         <%= link_to course_path(@course) do %>
         <div class="course-title"><%= @course.title %>
         </div>
         <% end %>
        <div>
          <span>Price: </span><p><%= @course.price.to_i %>€ per student</p>
    </div>
    <div>
    <span>Dates: </span><p><%= @course.start_date.strftime("%-d %B") %> - <%= @course.end_date.strftime("%-d %B") %></p>
    </div>
    <% @course.course_days.each do |day| %>
    <div>
      <span>Days: </span><p><%= day.working_day %></p>
    </div>
    <% end %>
  </div>
</div>


<div class="btn-show-course">
  <div class="price">
    <h4><strong>€ <%= @course.price.to_i %></strong></h4>
    <p><strong> per student </strong></p>
  </div>

<!-- Button trigger modal -->
  <div class="btn-book">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
      Pay Now
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment confirmation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Congratulations, Your payment is done !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <%= link_to "My profile", [@course, @booking], class: "button-profile", :method => :post %>
      </div>
    </div>
  </div>
</div>




<!-- Modal -->

