<%= simple_form_for current_user do |f| %>
  <%= f.input :name,
              required: true %>
  <%= f.input :nationality,
              hint: "leave it blank if you don't want to change it",
              required: true %>
  <%= f.input :native_language,
              hint: "leave it blank if you don't want to change it",
              required: true %>
  <%= f.input :biography,
              hint: "leave it blank if you don't want to change it",
              required: true %>
  <%= f.input :photo,
              hint: "leave it blank if you don't want to change it",
              required: true %>

  <h3>Pick your interest</h2>

  <% @tags_by_category.each do |category, taglist| %>
    <h1><%= category.content %></h1>
    <% taglist.each do  |tag|  %>
      <p><%= tag.content %></p>
      <% end %>
  <% end %>

  <%= f.submit %>
<% end %>
