<%= simple_form_for current_user do |f| %>
  <%= f.input :name,
              required: true %>
  <%= f.input :nationality,
              hint: "leave it blank if you don't want to change it",
              required: true %>
  <%= f.input :native_language,
              hint: "leave it blank if you don't want to change it",
              required: true %>
  <%= f.input :biography,
              hint: "leave it blank if you don't want to change it",
              required: true %>
  <%= f.input :photo,
              hint: "leave it blank if you don't want to change it",
              required: true %>
  <%= f.input :photo_cache, as: :hidden%>

  <h3>Pick your interest</h2>

  <% @tags_by_category.each do |category, taglist| %>
    <h3><%= category.content %></h3>

        <%= f.association :interest_tags, collection: taglist, as: :check_boxes, label_method: :content, input_html: { class: 'ck-button' } %>


  <% end %>


  <%= f.submit %>

<% end %>


