<%= render 'shared/banner' %>
<div class="content-container">

<%= simple_form_for :search, url: courses_index_path, method: "GET" do |f| %>
  <%= f.input :language, input_html: {value: ""} %>
  <%= f.input :city, input_html: {value: ""} %>
  <%= f.submit "Search", class: "button-search" %>
<% end %>

</div>


