<div class="content-container">
    <div class="search-form">
        <div class="text-center">
          <img class="text-center" style="opacity: 0.55; width: 130px; margin-bottom: 40px; margin-top: 0px;" src="https://image.flaticon.com/icons/svg/78/78373.svg">
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          class: 'form-control'
                           %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" },
                          class: 'form-control' %>


              <%= f.button :submit, "Login", class: "button-search"%>

          <% end %>
         <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>


