<div class="content-container">
    <div class="search-form">
        <div class="text-center">
          <img class="text-center" style="opacity: 0.55; width: 130px; margin-bottom: 40px; margin-top: 0px;" src="https://image.flaticon.com/icons/svg/78/78373.svg">
          </div>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <div class="form-login-email">
                <%= f.input :email,
                          label: false,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" },
                          class: 'form-control',
                          placeholder: 'Email' %>
                <div class="icon-envelope">
                  <%= icon('fas', 'envelope') %>
                </div>
              </div>

              <div class="form-login-password">
                <%= f.input :password,
                          label: false,
                          required: false,
                          input_html: { autocomplete: "current-password" },
                          class: 'form-control',
                          placeholder: 'Password' %>
                <div class="icon-password">
                  <%= icon('fas', 'lock') %>
                </div>
              </div>

              <%= f.button :submit, "Login", class: "button-search"%>

          <% end %>
         <br>
      <%= render "devise/shared/links" %>
    </div>
  </div>


