<div class="content-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <div class="form-login">

         <img class="col offset-xs-4" style="opacity: 0.9; width: 170px; margin-bottom: 30px; margin-top: 10px;" src="https://cdn3.iconfinder.com/data/icons/avatars-15/64/_Ninja-2-512.png">

          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

              <%= f.input :email,
                          required: false,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                          required: false,
                          input_html: { autocomplete: "current-password" } %>


              <%= f.button :submit, "Login", class: "btn btn-danger rounded"%>

          <% end %>
         <br>
      <%= render "devise/shared/links" %>
     </div>
    </div>
  </div>
</div>

