<!-- payment -->
<h1>Payment <%= @booking.course %></h1>
<%= form_tag booking_path(@booking) do %>
  <article>
    <label class="amount">
      <span>Amount: <%= humanized_money_with_symbol(@booking.amount) %></span>
    </label>
  </article>
  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
    data-name="My Course"
    data-email="<%= current_user.email %>"
    data-description="Course <%= @booking.course%>"
    data-amount="<%= @booking.amount_cents %>"
    data-currency="<%= @booking.amount.currency %>"></script>
<% end %>
