<div class="infowindow">
  <%= link_to course_path(course) do %>
    <div class="teacher-content">
      <div class="teacher-photo">
        <%= cl_image_tag course.user.photo, height: 40, width: 40, radius: 50, crop: :fill%>
      </div>
      <div class="teacher-info">
        <div id="name-teacher"><%= course.user.name %>
        </div>
        <div>
          <% unless course.user.teacher_rating.nil? %>
            <% rating = course.user.teacher_rating %>
            <% rating.round.times do %>
              <i class="fa fa-star"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="course-level-infowindow">
      <%= course.language.name.upcase %><span>, </span><%= course.level.upcase %>
    </div>
  <% end %>
</div>
