 <div class="query-form">
  <%= simple_form_for :query, method: :get do |f| %>
    <%= f.hidden_field :city,
                        input_html: {value: params[:query].try(:[], :city)} %>
    <%= f.hidden_field :language,
                       input_html: {value: params[:query].try(:[],:language)} %>
    <%= f.input :level,
                label: "Level",
                required: false,
                collection: Course.levels,
                selected: params[:query].try(:[], :level),
                class: "query-form" %>

    <%= f.input :interest_categories,
                label: "Category",
                required: false,
                collection: InterestCategory.all.pluck(:content, :id),selected: params[:query].try(:[], :interest_categories),
                class: "query-form"   %>
    <%= f.submit 'filter', class: 'button-search' %>
  <% end %>
</div>
