<div class="content-container">
  <h1><%=@courses.count%> courses in availables</h1>


  <div class="cards">
    <% @courses.each do |course| %>
      <div class="card-course">
        <div class="teacher-content">
            <div class="teacher-photo">
              <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-littm">
            </div>
            <div class="teacher-info">
              <%= link_to course_path(course) do %>
              <div><%= course.user.name %></div>
              <% end %>
              <% course.user.interest_tags.each do |interest| %>
              <div class="interest-content">
                <%= interest.content %>
              </div>
              <% end %>
              <div>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
              </div>
            </div>
        </div>
        <div class="course-content">
          <div class="course-info">
            <%= course.title %>
            <% course.bookings.each do |booking| %>
              <%= booking.review.rating %>
            <% end %>
            <%= course.level %>
            <%= course.description %>

            <br><%= course.start_date %> <br>
            <br><%= course.end_date %> <br>
            <br><%= course.price %><br>
          </div>
          <div class="course-area">
              <%= course.area %><br>
          </div>
        </div>
        </div>
      <% end %>
  </div>
</div>

