<div class="container-active active">
<div class="content-container">
  <div class="filter">
    <div>
      <h1 id="search-result"><%=@courses.count(:all)%> courses available <% if params[:query][:city].present? %> <%= "in #{ params[:query][:city].partition(',').first}"%> <% end  %></h1>
      </div>
      <!-- Button trigger modal -->
        <button  class="dropwdown-toggle" data-toggle="modal" data-target="#exampleModal">
          <%= icon('fas', 'bars') %>
        </button>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <%= render 'query' %>
            </div>
          </div>
        </div>
  </div>

  <div class="cards">
    <% @courses.each do |course| %>
    <div class="card-course">
      <div class="teacher-content">
        <div class="teacher-photo">
          <%= link_to course_path(course) do %>

          <%= cl_image_tag course.user.photo, class: "avatar-large" %>
          <% end %>
        </div>
        <div class="teacher-info">
          <%= link_to course_path(course) do %>
            <div id="name-teacher"><%= course.user.name %></div>
          <% end %>
            <% course.user.interest_tags.first(4).each do |interest| %>
            <div class="interest-content">
              <%= interest.content %>
            </div>
            <% end %>
              <div>
                <% rating = course.user.teacher_rating %>
                <% rating.try(:round).try(:times) do %>
                <i class="fa fa-star"></i>
                <% end %>
              </div>
          </div>
        </div>
        <div class="course-content">
          <div class="course-info">
            <div class="course-level">
              <%= course.language.name.upcase %><span>, </span><%= course.level.upcase %>
            </div>
              <%= link_to course_path(course) do %>
              <div class="course-title">
                <%= course.title %>
              </div>
              <% end %>
                <div>
                  <span>Price: </span><p><%= course.price.to_i %>€ per student</p>
                </div>
                <div>
                  <span>Dates: </span><p><%= course.start_date.strftime("%-d %B") %> - <%= course.end_date.strftime("%-d %B") %></p>
                </div>
                  <span>Days: </span>
                  <% course.course_days.each do |day| %>

                  <p><%= day.working_day %>,</p>

                <% end %>
            </div>
            <div class="course-area-spots">
              <div class="course-area">
                <%= icon('fas', 'map-marker-alt') %>
                  <p><%= course.area %></p>
              </div>
                <div class="course-spots">
                  <span> <%= course_spots = (course.capacity) - (course.bookings.count)%> spaces left
                  </span>
                  <%# course.bookings.each do |booking| %>
                  <%#=# cl_image_tag booking.user.photo, height: 15, width: 15, radius: 50, crop: :fill %>
                  <%# end %>
                  <% course.capacity.try(:times) do %>
                  <i class="far fa-user-circle"></i>
                  <% end  %>
                </div>
            </div>
          </div>
        <hr>
      <% end %>
  </div>
</div>
</div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
</div>
