<h2>Let's create a new course</h2>
<p>Find me in app/views/courses/new.html.erb</p>

<%= simple_form_for @course do |f| %>

  <h3>What’s language would you like to offer?</h3>
  <%= f.input :language_id, collection: Language.all, label_method: :name, value_method: :id %>

  <h3>What’s the level of this course?</h3>
  <%= f.input :level %>

  <h3>In which city you will provide this course?</h3>
  <%= f.input :city %>

  <h3>What's title of your announcement?</h3>
  <%= f.input :title %>

  <h3>Take your time and write a complete description of your course</h3>
  <%= f.input :description %>

  <h3>What's the maximum capacity for this course (6 max)</h3>
  <%#= f.input :capacity %>

  <h3>Let's define a meeting point</h3>
  <%= f.input :address %>

  <h3>What's the area</h3>
  <%= f.input :area %>

  <h3>Start date</h3>
  <%= f.input :start_date %>

  <h3>End date</h3>
  <%= f.input :end_date %>

  <h3>Define the individial price for each student </h3>
  <%= f.input :price %>

  <h3>Please copy your Youtube video URL here</h3>
   <%= f.input :video_url %>

  <%= f.submit "create course", class: "btn btn-primary" %>
<% end %>

<%= link_to "Back", :back %>
