<div class="content-container">

    <div class="search-form">
      <h2>Let's create a new course</h2>
      
    <%= simple_form_for @course do |f| %>

      <div class="form-row">
        <div class="form-group col-md-6">
        <p>What’s language would you like to offer?</p>
          <%= f.input :language_id, 
          collection: Language.all,
          label_method: :name, 
          label: false,
          value_method: :id, 
          include_blank: "",
          class: 'form-control' %>
        </div>
        <div class="form-group col-md-6">
          <p>What’s the level of this course?</p>
          <%= f.input :level, :collection => ['No knowledge',
            'Elementary level (A1)',
            'Low intermediate level (B1)',
            'High intermediate level (B2)',
            'Advanced level (C1)',
            'Proficient (C2)',
            'Test Preparation',
            ], label: false, class: 'form-control' %>
        </div>
      </div>


  <div class="profil-description">
    <h2>Step 2: Location</h2>
    <%#= f.input :start_time %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <p>What’s the meeting point?</p>
       <%= f.input :city, label: false, class: 'form-control', placeholder: "E.g. Public Library in Gracia" %>
    </div>
    <div class="form-group col-md-6">
      <p>What’s the area?</p>
      <%= f.input :area, label: false, class: 'form-control', placeholder: "E.g. Gracia" %>
    </div>

    <div class="form-group col-md-12">
      <p>Please enter an exact address of your first meeting point</p>
      <%= f.input :address, label: false, class: 'form-control', placeholder: "Write the exact address"%>
    </div>
  </div>

  <div class="profil-description">
    <h2>Step 3: Date, Time & Days</h2>
  </div>



  <div class="form-row">
    <div class="form-group col-md-6">

       <%= f.input :start_date, as: :string, input_html: {class: "datepicker"}, placeholder: "Pick the start and end dates" %>

    </div>
    <div class="form-group col-md-6">

      <%= f.input :end_date, as: :string, input_html: {class: "datepicker"} %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">

    <p>Start time:</p>
    <%= f.input :start_time, label: false, input_html: { class: "course_time" } %>

    </div>
    <div class="form-group col-md-6">
      <p>End time</p>
      <%= f.input :end_time, label: false, input_html: { class: "course_time" } %>
    </div>
  </div>

  <div class="profil-description">
    <%= f.association :course_days, label: false, collection: Date::DAYNAMES, as: :check_boxes, include_hidden: false %>
  </div>


  <div class="profil-description">
    <h2>Step 4: Price & Capacity</h2>
  </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <p>Define the individial price for each student</p>
         <%= f.input :price, label: false, class: 'form-control', placeholder: "E.g. 120" %>
      </div>
      <div class="form-group col-md-6">
        <p>What's the maximum capacity for this course (5 max)</p>
        <%= f.input :capacity, label: false, class: 'form-control', placeholder: "E.g. 5"%>
      </div>
    </div>

  <div class="profil-description">
    <h2>Step 5: Finish your announcement</h2>
  </div>


  <div class="profil-description">
    <p>What's title of your announcement?</p>
    <%= f.input :title, label: false, class: 'form-control', placeholder: "E.g. Great spanish course for beginners around Barcelona" %>
  </div>

  <div class="profil-description">
    <p>Take your time and write a complete description of your course</p>
    <%= f.input :description, :as => :text, :input_html => { 'rows' => 5, 'cols' => 10 }, label: false, class: 'form-control', placeholder: "Use this space to give to your future students all the details they need to book your course" %>
  </div>


  <div class="profil-description">
    <p>Please copy your Youtube video URL here</p>
    <%= f.input :video_url, label: false, class: 'form-control', placeholder: "E.g. https://www.youtube.com/watch?v=m3Uh24QiJUI&list=RDMrHxhQPOO2c&index=2" %>
  </div>

  <div class="profil-description">
    <p>Upload a photo of the class!</p>
    <%= f.input :picture, label: false, class: 'form-control' %>
    <%= f.input :picture_cache, as: :hidden, class: 'form-control' %>
  </div>

    <%= f.submit "Create my Course", class: "button-search" %>

    <% end %>
  </div>
    <%= link_to "Back", :back %>

</div>
