<div class="content-container">

  <div class="profil-description">

    <h2>Let's create a new course</h2>
  </div>

    <div class="search-form">
<%= simple_form_for @course do |f| %>


  <div class="profil-description">
    <h2>What’s language would you like to offer?</h2>
    <%= f.input :language_id, collection: Language.all, label_method: :name, value_method: :id, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>What’s the level of this course?</h2>
    <%= f.input :level, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>In which city you will provide this course?</h2>
    <%= f.input :city, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>What's title of your announcement?</h2>
    <%= f.input :title, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>Take your time and write a complete description of your course</h2>
    <%= f.input :description, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>What's the maximum capacity for this course (5 max)</h2>
    <%= f.input :capacity, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>Take your time and write a complete description of your course</h2>
    <%= f.input :description, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>Let's define a meeting point</h2>
    <%= f.input :address, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>What's the area</h2>
    <%= f.input :area, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>Dates:</h2>
    <%#= f.input :start_time %>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">

       <%= f.input :start_date %>

    </div>
    <div class="form-group col-md-6">

      <%= f.input :end_date, class: 'form-control' %>
    </div>
  </div>

  <div class="profil-description">
    <h2>Start time</h2>
    <%#= f.input :start_time %>
  </div>

  <div class="profil-description">
    <h2>End Time</h2>
    <%#= f.input :end_time %>
  </div>



  <div class="profil-description">
    <h2>Define the individial price for each student </h2>
    <%= f.input :price, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>Please copy your Youtube video URL here</h2>
    <%= f.input :video_url, class: 'form-control' %>
  </div>

  <div class="profil-description">
    <h2>Upload a photo of the class!</h2>
    <%= f.input :picture, class: 'form-control' %>
    <%= f.input :picture_cache, as: :hidden, class: 'form-control' %>
  </div>

    <%= f.submit "Create my Course", class: "button-search" %>

    <% end %>
  </div>
    <%= link_to "Back", :back %>

</div>
