
<div class="video-container">
  <img src="https://www.animaker.com/blog/wp-content/uploads/2015/07/teacher-01.png" alt="" class="">
</div>

<div class="content-container">
  <div class="language-level">
    <p><%= @course.language.name %></p>
    <p><%= @course.level %></p>
  </div>
  <div class="title-show">
    <h3><%= @course.level %></h3>
  </div>
  <div class="teacher-overview">
    <img src="" alt="">
    <div class="teacher-info">
      <p><%= @course.user.name %></p>
      <p><%#= @course.user.user_interest.interest_tag.content %></p>
      <p>          </p>
    </div>
    <div class="dates">
      <h4>Dates</h4>
      <p>Start: <%= @course.start_date %></p>
      <p>End: <%= @course.end_date %></p>
    </div>
    <div class="hours-per-week">
      <h4>per week</h4>
      <p><%= @course.start_date %></p>
      <p><%= @course.total_week_hours %></p>
      <p>End: <% @course.course_days.each do |x| %></p>
      <p> <%= x.start_time %></p>
      <% end %>
    </div>
  </div>
</div>
