<div class="video-container">
  <% if @course.video_url.present? %>
  <iframe width="100%" height="400" src="<%= @course.video_url %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <% else %>
    <%= cl_image_tag @course.picture %>
  <% end %>
</div>
<p>

<div class="content-container">
  <div class="course-level">
    <%= @course.language.name.upcase %><span>, </span><%= @course.level.upcase %>
  </div>
  <div class="title-show">
    <h3><strong><%= @course.title %></strong></h3>
  </div>
  <hr>

  <div class="teacher-content">
    <div class="teacher-photo">
      <% if @user.photo.present? %>
      <div class="avatar-large">
        <%= cl_image_tag @course.user.photo, height: 80, width: 80, radius: 50, crop: :fill %>
      </div>
      <% else %>
        <i class="far fa-user fa-2x" style="margin-top: 3px;"></i>
      <% end %>
    </div>
    <div class="teacher-info">
      <div id="name-teacher"><%= link_to "#{@course.user.name}", user_path(@course.user.id), :class => "user-profile-links" %>
      </div>
      <% @course.user.interest_tags.each do |interest| %>
      <div class="interest-content">
        <%= interest.content %>
      </div>
      <% end %>
      <div>
        <% unless @course.user.teacher_rating.nil? %>
          <% rating = @course.user.teacher_rating %>
          <% rating.round.times do %>
          <i class="fa fa-star"></i>
        <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <hr>

<!-- Dates Section -->
  <div class="sections-course">
    <div class="main-info-course">
      <div class="dates-pic">
        <i class="far fa-calendar"></i>
        <div class="dates">
          <p><strong>Dates</strong></p>
          <p>Start: <%= @course.start_date.strftime('%a, %B %e, %Y') %></p>
          <p>End: <%= @course.end_date.strftime('%a, %B %e, %Y') %></p>
        </div>
      </div>
    </div>

    <div class="dates-pic">
      <i class="far fa-clock"></i>
      <div class="dates">
        <p><strong>Weekly Schedule
</strong></p>
        <% @course.course_days.first(1).each do |x| %>
          <%= x.start_time.strftime('%I:%M%p') %>
        <% end %><span> - </span>
        <% @course.course_days.first(1).each do |x| %>
          <%= x.end_time.strftime('%I:%M%p') %>
          <span> (<%= @course.total_week_hours %> hours per day)</span>
        <% end %>
        <div class="days">
          <% @course.course_days.each do |x| %>
            <%= x.working_day %>,
          <% end %>
        </div>
      </div>
    </div>

    <div class="dates-pic">
      <i class="fas fa-euro-sign"></i>
      <div class="dates">
        <p><strong>Price per student</strong></p>
        <p>€ <%= @course.price %> </p>
      </div>
    </div>
     <!--  <div class="XX hours-per-week">
        <h4>per week</h4>
        <p><%= @course.start_date %></p>
        <p><%= @course.total_week_hours %></p>
      </div> -->

    <div class="dates-pic">
      <%= icon('fas', 'map-marker-alt') %>
      <div class="dates">
        <p><strong>Meeting point</strong></p>
          <p><%= @course.city %></p>
          <p><%= @course.address %></p>

      </div>
    </div>
  </div>
  <hr>

<!-- Course description -->
  <div class="sections-course">
    <div class="description-course">
      <h4><strong>Course Description</strong></h4>
      <%= @course.description %>
    </div>
  </div>
<hr>

<!-- Meet classmates -->
  <div class="sections-course">
    <div class="meet-classmates">
      <h4><strong>Meet your classmates</strong></h4>
      <div class="classmates">
        <% @course.bookings.each do |booking| %>
          <div>
            <% if @user.photo.present? %>
              <div class="classmate-photo">
                <%= cl_image_tag booking.user.photo, height: 40, width: 40, radius: 50, crop: :fill %>
                <p> <%= link_to "#{booking.user.name}", user_path(booking.user.id), :class => "user-profile-links" %></p>
              </div>
            <% else %>
              <div class="classmate-photo text-center">
                <i class="far fa-user fa-2x"></i>
                <p> <%= booking.user.name %></p>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <p> <strong>Hurry up! <%= (@course.capacity) - (@course.bookings.count) %> spots left</p></strong>
    </div>
  </div>
  <hr>

<!-- Teacher reviews -->
  <div class="sections-course">
    <div class="teacher-reviews">
      <h4><strong>Teacher reviews</strong></h4>
      <div class="review-info">
        <% if @reviews_teacher_for_course.nil? %>
          <p>no review yet</p>
        <% else %>
        <% @reviews_teacher_for_course.each do |review|  %>
          <div class="review-detail">
            <% if @user.photo.present? %>
              <div class="">
                <%= cl_image_tag review.try(:booking).try(:user).try(:photo), height: 40, width: 40, radius: 50, crop: :fill %>
              </div>
            <% else %>
              <div class="">
                <i class="far fa-user fa-2x"></i>
              </div>
            <% end %>
            <div class="review-comment">
              <i class="far fa-comment"></i>
              <%= review.try(:content) %>
              <div>
                <% rating = review.try(:rating) %>
                <% if rating %>
                  <% rating.round.times do %>
                  <i class="fa fa-star"></i>
                  <% end  %>
                <% end %>
              </div>
            </div>
<!-- IMPORTANT METHOD TRY: it iterates and if there is an object without content it doesnt raise an error, it moves to the next one -->
          </div>
       <% end %>
        <!-- stars of the review -->
      </div>
      <% end %>
      <div class="all-reviews">
        <p>Read all reviews</p>
      </div>
    </div>
  </div>
  <hr>

<!-- Map -->
  <div class="sections-course">
    <div class="">
      <h3><strong>Location</strong></h3>
      <div class="map">

      </div>
    </div>
    </div>
</div>

<div
  id="map"
  style="width: 100%;
  height: 300px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<!-- Booking button -->
<div class="btn-show-course">
  <div class="price">
    <h4><strong>€<%= @course.price %></strong></h4>
    <p><strong> per student </strong></p>
  </div>
  <div class="btn-book">
    <button type="button" class="btn-book-modal" data-toggle="modal" data-target="#exampleModal">
      Book Now
    </button>
  </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Next step</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Congratulations, you booked the course !
      </div>
      <div class="modal-footer">
        <div class="button-payment">
          <%= link_to "Go to payment", new_course_payment_path(@course) %>
        </div>
      </div>
    </div>
  </div>
</div>




